body {
  background-color: rgb(220, 243, 250);
}
header {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.maintitle {
  color: rgb(202, 241, 247);
  background-color: rgb(2, 2, 65);
  font-weight: bold;
}
.mainsubtitle {
  color: rgb(26, 116, 226);
}
nav {
  text-align: center;
  border: 0.2rem white solid;
  font-size: large;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("Images/sunset.jpg");
  background-repeat: no-repeat;
  padding: 0.2rem;
  background-size: 1500px;
  background-blend-mode: auto;
}
.graduation {
  float: right;
  margin: 10px;
}
.bucky {
  float: left;
  margin: 10px;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: rbg(2, 2, 65);
  color: white;
}
a:hover {
  color: rgb(26, 116, 226);
}
footer {
  margin-top: 10rem;
  background-color: rgb(173, 209, 231);
  border: rgb(132, 132, 197) 0.2rem solid;
  padding: 0.5rem;
}
#running {
  padding: 0 4rem;
}
#snow {
  margin-left: 22rem;
}
#list {
  background-color: rgb(68, 68, 110);
}
.allie {
  float: right;
}
